/*-- scss:defaults --*/

/* // Base document colors
$body-bg: white;
$body-color: white;
$link-color: #75AADB;

 */

// Navigation element colors
$footer-bg: #53794c;
$navbar-bg: #53794c;
$sidebar-bg: #90C2E7;


$theme-colors: (
  "primary": #576954,
  "secondary": #90C2E7,
  "danger": #B36A5E
);
